#Pandas Basic

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
import numpy as np

In [3]:
dict1 = {
    "name":['Harry', 'Rohan', 'Skillf', 'Shubh'], 
    "marks" :[92, 75, 94, 53],
    "City" :[ 'Rampur', 'Kolkata', 'Barelly', 'Antartica']
    }

In [4]:
df = pd.DataFrame(dict1) #DataFramce forms the dictionary on form of excel table

In [5]:
df

     name  marks       City
0   Harry     92     Rampur
1   Rohan     75    Kolkata
2  Skillf     94    Barelly
3   Shubh     53  Antartica

In [6]:
df.to_csv('friends.csv') # This will make an excel csv file of the data provided in dictionary

In [7]:
df.to_csv('friends_noIndex.csv', index=False)

In [8]:
df.head(2)# This will show first two rows

    name  marks     City
0  Harry     92   Rampur
1  Rohan     75  Kolkata

In [9]:
df.tail(2) # This will show last two rows

     name  marks       City
2  Skillf     94    Barelly
3   Shubh     53  Antartica

In [10]:
df.describe() # This will do stastical analysis for the given data

           marks
count   4.000000
mean   78.500000
std    19.017536
min    53.000000
25%    69.500000
50%    83.500000
75%    92.500000
max    94.000000

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
harry = pd.read_csv('friends.csv') # We can read csv file

In [13]:
harry['name'] # to access only single column

0     Harry
1     Rohan
2    Skillf
3     Shubh
Name: name, dtype: object

In [14]:
harry['name'][0] # to access specific value

'Harry'

In [15]:
harry['name'][0] = "Onkar" #Can update values like this but, this is not recommneded moethod

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
harry

   Unnamed: 0    name  marks       City
0           0   Onkar     92     Rampur
1           1   Rohan     75    Kolkata
2           2  Skillf     94    Barelly
3           3   Shubh     53  Antartica

In [17]:
df

     name  marks       City
0   Harry     92     Rampur
1   Rohan     75    Kolkata
2  Skillf     94    Barelly
3   Shubh     53  Antartica

In [18]:
harry.index = ['first', 'Second', 'Third', 'Fourth']# .index will update the index as we provided

In [19]:
harry

        Unnamed: 0    name  marks       City
first            0   Onkar     92     Rampur
Second           1   Rohan     75    Kolkata
Third            2  Skillf     94    Barelly
Fourth           3   Shubh     53  Antartica

1. Pandas is an open source data analysis Library Ton in python
2. It leverage is the power and speed of November to make data analysis and pre-processing easy for data scientists
3. It provides reach and highly robust data operations**

#Pandas Data structure

1. Pandas has two types of data structures:
  
  a. Series - It's a one dimensional array with indexes, it stores a single column or row of data in a Dataframe
  
  b. Dataframe - It's a tabular spreadsheet like structure representing rows each of which contains one or
multiple columns
2. A one-dimensional array(labeled) capable of holding any type of data- Series
3. A two-dimensional data (labeled) structure with columns of potentially different types of data - DataFrame

In [20]:
ser = pd.Series(np.random.rand(34)) # It will provide number of series from 0 to 34

In [21]:
ser

0     0.487185
1     0.459337
2     0.919968
3     0.714682
4     0.036134
5     0.077932
6     0.397830
7     0.172674
8     0.166459
9     0.624864
10    0.221876
11    0.977176
12    0.693379
13    0.991054
14    0.858995
15    0.781121
16    0.166556
17    0.918491
18    0.481049
19    0.866766
20    0.292963
21    0.243445
22    0.663086
23    0.702279
24    0.403937
25    0.846078
26    0.190503
27    0.587748
28    0.125238
29    0.689756
30    0.429510
31    0.117356
32    0.426373
33    0.787746
dtype: float64

In [22]:
type(ser) # Will give type of the data

pandas.core.series.Series

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
newdf = pd.DataFrame(np.random.rand(100, 5), index = np.arange(100)) # It will form new data frame of random variables imported from numpy

In [25]:
newdf

           0         1         2         3         4
0   0.497768  0.747356  0.855718  0.963280  0.336691
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4   0.413700  0.490691  0.042073  0.257392  0.046058
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[100 rows x 5 columns]

In [26]:
newdf.head()

          0         1         2         3         4
0  0.497768  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4  0.413700  0.490691  0.042073  0.257392  0.046058

In [27]:
type(newdf) # Will give the type

pandas.core.frame.DataFrame

In [28]:
newdf.describe()

                0           1           2           3           4
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.484559    0.463266    0.493574    0.485811    0.535069
std      0.298307    0.297041    0.308416    0.272898    0.300392
min      0.005249    0.003247    0.031683    0.000358    0.000585
25%      0.198775    0.178531    0.204956    0.256546    0.248021
50%      0.507918    0.451765    0.486003    0.484842    0.529675
75%      0.731478    0.700937    0.775245    0.711887    0.812510
max      0.984427    0.965259    0.998824    0.996216    0.989354

In [29]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [30]:
newdf

           0         1         2         3         4
0   0.497768  0.747356  0.855718  0.963280  0.336691
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4   0.413700  0.490691  0.042073  0.257392  0.046058
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[100 rows x 5 columns]

In [31]:
newdf.head()

          0         1         2         3         4
0  0.497768  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4  0.413700  0.490691  0.042073  0.257392  0.046058

In [32]:
#To update or replace value...We can replace value by interger of by charactyer or by string
newdf[0][0] = "Onkar"

In [33]:
newdf.head()

          0         1         2         3         4
0     Onkar  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

In [34]:
type(newdf)

pandas.core.frame.DataFrame

In [35]:
 newdf.dtypes # before updating, it was float64 but now it is objecgt

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [36]:
newdf.index #Will print index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [37]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [38]:
newdf.to_numpy() # Will convert it into numPy

array([['Onkar', 0.7473562094361451, 0.8557179520255158,
        0.9632800542316059, 0.3366907003573353],
       [0.60612460982963, 0.7206598464949426, 0.6621744441768431,
        0.48367509342644666, 0.04335170151949552],
       [0.0834049733815787, 0.5228880263389356, 0.6897361461962739,
        0.267452633933023, 0.0854263153601984],
       [0.9577154926038787, 0.5865164815079666, 0.46290178045478914,
        0.471881614861249, 0.31077491343221864],
       [0.4136999758483716, 0.49069137432506826, 0.042073384135569714,
        0.2573916231637958, 0.0460579727815682],
       [0.14929809306793929, 0.2406301479961862, 0.27822347836425243,
        0.2907271280115049, 0.4784443047979011],
       [0.008180870022081344, 0.6895179546916774, 0.6572566930096015,
        0.03836643029675968, 0.5819369685841889],
       [0.9768210631368949, 0.9061304475893041, 0.588895291572323,
        0.6597670224116876, 0.12528182347303185],
       [0.8380490775162981, 0.44197222502382394, 0.2463716520311704,
        0.4575633943072843, 0.5516026547781289],
       [0.2561831041795535, 0.1152506201858815, 0.2999694656939784,
        0.8674930550264167, 0.683509540157096],
       [0.21215399303770188, 0.5574352570339534, 0.5827810259360721,
        0.46591009684835705, 0.5300097254953325],
       [0.49375546670880754, 0.2625793401882146, 0.0666928007239993,
        0.26083448377051255, 0.7588711579335331],
       [0.8327695691452239, 0.7127872162383895, 0.48220748926324253,
        0.7101181316570766, 0.7139150240156297],
       [0.56707966640594, 0.17075726361378418, 0.8062168209975666,
        0.3575544275720748, 0.6435001482972587],
       [0.9486405038866454, 0.937563457142252, 0.7562075444170664,
        0.6624191132857145, 0.21421576966678324],
       [0.5047423748534402, 0.5650583643816587, 0.6532830652609243,
        0.07514593457603491, 0.9652538461117562],
       [0.005248931139950952, 0.5396449358930949, 0.832993593149659,
        0.6148236563119707, 0.670329506395889],
       [0.8277372010083258, 0.4394202336143792, 0.7298349672991017,
        0.7414203203441666, 0.9221515548539269],
       [0.3086135475093994, 0.6009316971532632, 0.39114200254901266,
        0.6748015667058521, 0.8560204490960157],
       [0.5821570094795696, 0.04286461743337744, 0.7646723999120131,
        0.5229507932345177, 0.7044021561891378],
       [0.29860158554492877, 0.42971023573860045, 0.3496721288200668,
        0.5037124916642371, 0.8976862464301357],
       [0.8434512937112827, 0.7118193622088643, 0.2750826347763845,
        0.25400801512928983, 0.7685872303923436],
       [0.1683659321720694, 0.08814139975130353, 0.9819100259105318,
        0.3960362140854842, 0.5198417036916477],
       [0.11106007782749905, 0.9398160265978708, 0.9988236629784958,
        0.5573296065161629, 0.17352283259800638],
       [0.7977970986052714, 0.3280853042013062, 0.9453193473069357,
        0.07883111718580593, 0.23612251398788375],
       [0.15267491999811567, 0.5565620293374598, 0.8839677487283357,
        0.46823384479936314, 0.48442983382724214],
       [0.5440331657125765, 0.07957016582838461, 0.3228222775999574,
        0.4495418627323349, 0.8347678205455866],
       [0.08241697168086493, 0.838848041155987, 0.09602544339930341,
        0.00035819296456485183, 0.8546338058756967],
       [0.560607917164337, 0.92489214237725, 0.8921765053616421,
        0.625102885471523, 0.40996435771740913],
       [0.22275828131929432, 0.12359284989767505, 0.7671123304735332,
        0.9938312052065893, 0.4329170878058134],
       [0.5728678910543531, 0.8925430659746341, 0.08660180772812454,
        0.40454590183619976, 0.14799627492633094],
       [0.8945501512286703, 0.5184275513226909, 0.5525077200850294,
        0.4860096020207413, 0.9638957265548528],
       [0.9375203397692073, 0.47798583105206416, 0.1896229768993425,
        0.8945232927745284, 0.37815105848402797],
       [0.884866029090129, 0.10051907753940126, 0.1838741896519801,
        0.8370463464660802, 0.7783094768027757],
       [0.006298979199464538, 0.6647230188061014, 0.5907749363045849,
        0.7947684167513805, 0.9753972499957517],
       [0.5439295940084069, 0.19927357684576164, 0.306759930339922,
        0.6048640563661682, 0.1277800461100863],
       [0.8155793977521462, 0.003247403586707387, 0.3338497012970032,
        0.8407862084096904, 0.5293410252842159],
       [0.7247897796600768, 0.6899076870122917, 0.5130374474224444,
        0.4256470916446362, 0.03929060915758287],
       [0.40409634928577587, 0.17878323627879278, 0.2838784943344087,
        0.6609640774299758, 0.07459420266819539],
       [0.5110939793053942, 0.5521354472624921, 0.12704244341854898,
        0.4710778176217304, 0.5093173646138214],
       [0.5367377675170362, 0.2270709044143614, 0.4338115966475534,
        0.7213400566197098, 0.6131836312683865],
       [0.502799522843894, 0.1306788051390788, 0.8623157277321388,
        0.18088253361674012, 0.4944432229229915],
       [0.15075386965254733, 0.9477040979928348, 0.08696170054931951,
        0.019468892594536658, 0.8761854529470193],
       [0.7236442569339858, 0.35411824897055477, 0.10364896036922067,
        0.5427600608060095, 0.19330677310924538],
       [0.7369977235597561, 0.10076788142810089, 0.47164393878068633,
        0.0017362576199384527, 0.16718627990871748],
       [0.3625458868810213, 0.2141826100269052, 0.9880107047401137,
        0.22554481659098025, 0.8959347626326641],
       [0.11698277204447105, 0.37319617643532443, 0.05206477759304973,
        0.5919672302881497, 0.16118163068405034],
       [0.8467284206862218, 0.8833353102042126, 0.8454987161742801,
        0.08338034839810471, 0.20859368562309077],
       [0.9844265554446454, 0.09309396411552984, 0.9877691300174772,
        0.2131112601826045, 0.5957792991156473],
       [0.06932314799530115, 0.6931069412428058, 0.5353383860660413,
        0.1426785464807191, 0.13914272879651235],
       [0.1836296362546045, 0.12896005514886522, 0.14749601879959873,
        0.6215189469634473, 0.9519513735282542],
       [0.38178877036362935, 0.6576739088586843, 0.11089883790130084,
        0.09143561098755937, 0.6772894300025648],
       [0.04935159256270394, 0.13596807348182605, 0.3645211667763095,
        0.22503610589680312, 0.22996598292803183],
       [0.455357774097924, 0.05890680749002908, 0.7088421423721456,
        0.26839090943402044, 0.0005848550712082012],
       [0.4772543778050594, 0.1570265175815979, 0.31669752705062626,
        0.14369624705286632, 0.7548263835357873],
       [0.06607461010059767, 0.6793173914361331, 0.9523853747710913,
        0.2820563910759073, 0.20581398783572102],
       [0.5862623297830323, 0.9310289089953715, 0.6652449415643618,
        0.14736394170148215, 0.2833388492856167],
       [0.5178208318549908, 0.35041185206911796, 0.6332704429011116,
        0.7300372512598627, 0.8089112368699325],
       [0.1102027376897814, 0.04127754971122821, 0.43602629401186277,
        0.9298212567586384, 0.12956444171236015],
       [0.2595163413227686, 0.02155474108580735, 0.11858558908935768,
        0.004987336854993751, 0.9419318752948509],
       [0.5276177125705132, 0.699027708294069, 0.9891095400461948,
        0.3610525146588165, 0.4617096426866618],
       [0.48759316276487363, 0.9425306481194472, 0.9962540423268185,
        0.03958191906369457, 0.8917493476512636],
       [0.009490651125227623, 0.6352158201139159, 0.8300914233169867,
        0.9962160101558342, 0.823753172796698],
       [0.6185604927323567, 0.3112461962694627, 0.0880002131446429,
        0.4429075658065452, 0.8709835136424451],
       [0.6525729660669509, 0.07281534345239327, 0.06402975127287269,
        0.77085184124693, 0.8676772573641061],
       [0.20324011673402698, 0.32945600355392946, 0.6069260927077262,
        0.23495526541347012, 0.49425309153554386],
       [0.5158043794502872, 0.8588863939713629, 0.8462963056396495,
        0.6351871204002836, 0.01837181377836472],
       [0.7296384254173772, 0.021106612301578287, 0.16941142062085812,
        0.4942110638461388, 0.9893535754000173],
       [0.5893254523957009, 0.8697359330426916, 0.8169484477095537,
        0.4169877152775382, 0.8699739210427965],
       [0.4259490421755662, 0.3691439895448194, 0.8439160868376265,
        0.7611752701213585, 0.9295283559763652],
       [0.9097790097703495, 0.44332930950301863, 0.9979184312811995,
        0.5256709019222213, 0.3479653946010641],
       [0.9443138620805454, 0.5886670088018191, 0.18104564903218812,
        0.7825348395434666, 0.5812625673139682],
       [0.14242373733045177, 0.03729917114816417, 0.8148893738474691,
        0.6271019267255774, 0.4860177869776682],
       [0.48030354765764305, 0.27237464246684806, 0.06709612450833713,
        0.459103876504542, 0.3385163543375349],
       [0.02237402266279176, 0.9143412736826972, 0.8032786340753949,
        0.8557635173866504, 0.648693507091132],
       [0.7876326390384619, 0.9331421385875014, 0.9299806119743333,
        0.7673114614634957, 0.5119871457324457],
       [0.2351461707459923, 0.07211938052222333, 0.035486622328174455,
        0.4255811786595456, 0.7810331342991517],
       [0.45041199213903926, 0.7385699299073365, 0.17610216736166684,
        0.21637760336268363, 0.9742932777669866],
       [0.7212581900620754, 0.40385216101774835, 0.880393220764793,
        0.7171931430648327, 0.6449205184978009],
       [0.8728402535624653, 0.4602014574766605, 0.3115715610644889,
        0.5136315742197655, 0.9545567082607296],
       [0.16208039785750517, 0.9633417300795643, 0.03860506406584163,
        0.1747456280696722, 0.1096031491706555],
       [0.14180469981523747, 0.03323194732999779, 0.47374477584863683,
        0.12534761693867735, 0.7295397259143621],
       [0.18537934247781518, 0.09483435890245939, 0.48979927050458394,
        0.7233367783748891, 0.9456658481527255],
       [0.30693438041343757, 0.15177768747577225, 0.5423842753951313,
        0.2908851173352496, 0.2643045653165168],
       [0.6595426430166668, 0.6086134095010661, 0.32464993063802383,
        0.6315312295872711, 0.9216059913318235],
       [0.9005253813639387, 0.5760938541797804, 0.42272903197131906,
        0.7433238403265247, 0.22865466490684294],
       [0.6219446237551338, 0.7503735451968101, 0.055806823857040944,
        0.22543817033877278, 0.8061345795871679],
       [0.042245470437669796, 0.23387057816651557, 0.3790134119492793,
        0.6163929643095238, 0.33859646149465283],
       [0.36313885633039034, 0.3350298734848688, 0.6602580189202335,
        0.46150678962153036, 0.2061890096908059],
       [0.8178085646125962, 0.17777444603576598, 0.5481185315751348,
        0.8872732408842104, 0.32122102031054967],
       [0.9400372068693369, 0.21426848842885315, 0.03168310523590678,
        0.8936353965613149, 0.3960420931919939],
       [0.7571572007936018, 0.7066649194296657, 0.2656935882645822,
        0.7750563697891627, 0.8338960528496646],
       [0.5872243880199997, 0.28176622828710296, 0.09003499385294289,
        0.49949502423788306, 0.25198656635483796],
       [0.01804023976047897, 0.3112977126765798, 0.6910391960397603,
        0.059394781386089335, 0.8077601739510166],
       [0.4410545941381463, 0.7896958200748171, 0.2100669664640259,
        0.595851557469137, 0.8233052646454139],
       [0.5845373921027202, 0.7104395430502014, 0.5732553151324777,
        0.9533422540042098, 0.18612695965125903],
       [0.5433780303159412, 0.6666238456651915, 0.7996415141206965,
        0.1751902389421789, 0.45283949005933577],
       [0.050774913603010785, 0.5849246970552582, 0.2641904682000912,
        0.48135969409810797, 0.7620858466490632],
       [0.9776814907409679, 0.9652590112705044, 0.6234853457521919,
        0.9248340059981216, 0.26119010074326954],
       [0.7626743294868843, 0.4290356696141018, 0.07325664116897934,
        0.5417697938062092, 0.6861469125548805]], dtype=object)

In [39]:
newdf

           0         1         2         3         4
0      Onkar  0.747356  0.855718  0.963280  0.336691
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4     0.4137  0.490691  0.042073  0.257392  0.046058
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[100 rows x 5 columns]

In [40]:
newdf.sort_index(axis = 0, ascending = False) # Making ascending = False, it will sort it in descending order

           0         1         2         3         4
99  0.762674  0.429036  0.073257  0.541770  0.686147
98  0.977681  0.965259  0.623485  0.924834  0.261190
97  0.050775  0.584925  0.264190  0.481360  0.762086
96  0.543378  0.666624  0.799642  0.175190  0.452839
95  0.584537  0.710440  0.573255  0.953342  0.186127
..       ...       ...       ...       ...       ...
4     0.4137  0.490691  0.042073  0.257392  0.046058
3   0.957715  0.586516  0.462902  0.471882  0.310775
2   0.083405  0.522888  0.689736  0.267453  0.085426
1   0.606125  0.720660  0.662174  0.483675  0.043352
0      Onkar  0.747356  0.855718  0.963280  0.336691

[100 rows x 5 columns]

In [41]:
newdf.sort_index(axis = 1, ascending = False) # Making ascending = False, it will sort it in descending order, for axis = 1, means for row

           4         3         2         1         0
0   0.336691  0.963280  0.855718  0.747356     Onkar
1   0.043352  0.483675  0.662174  0.720660  0.606125
2   0.085426  0.267453  0.689736  0.522888  0.083405
3   0.310775  0.471882  0.462902  0.586516  0.957715
4   0.046058  0.257392  0.042073  0.490691    0.4137
..       ...       ...       ...       ...       ...
95  0.186127  0.953342  0.573255  0.710440  0.584537
96  0.452839  0.175190  0.799642  0.666624  0.543378
97  0.762086  0.481360  0.264190  0.584925  0.050775
98  0.261190  0.924834  0.623485  0.965259  0.977681
99  0.686147  0.541770  0.073257  0.429036  0.762674

[100 rows x 5 columns]

In [42]:
type(newdf[0]) # For single column or data, it is series

pandas.core.series.Series

In [43]:
type(newdf) # And for all data, it is a dataFrame

pandas.core.frame.DataFrame

In [44]:
newdf2 = newdf # newdf2 will be a view of the newdf... It means the changes made regarding the newdf2 will affect of change the newdf

In [45]:
newdf2[0][0] = 101001

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
newdf.head()

          0         1         2         3         4
0    101001  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

In [47]:
newdf3 = newdf.copy() # Making the copy of the newdf as newdf3
# So the changes made in newdf3 will not affect the newdf, coz its a copy

In [48]:
newdf3.head()

          0         1         2         3         4
0    101001  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

In [49]:
newdf3[0][0] = 00000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
newdf3.head()

          0         1         2         3         4
0         0  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

#Loc

In [51]:
newdf.head()

          0         1         2         3         4
0    101001  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

In [52]:
#loc will lock that specific block with provided numbere
newdf.loc[0, 0] = 554455

In [53]:
newdf.head(2)

          0         1         2         3         4
0    554455  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352

In [54]:
newdf.columns = list("ABCDE") # This will change the columns as provided with ABCDE

In [55]:
newdf.head()

          A         B         C         D         E
0    554455  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058

In [56]:
newdf.loc[0, 0] = 7777 # This will not update the value because now here it is ABCDE anot 01234, so it will make new column

In [57]:
newdf.head(2)

          A         B         C         D         E       0
0    554455  0.747356  0.855718  0.963280  0.336691  7777.0
1  0.606125  0.720660  0.662174  0.483675  0.043352     NaN

In [58]:
newdf.loc[0, 'A'] = 7777 # This will Change

In [59]:
newdf.head(2)

          A         B         C         D         E       0
0      7777  0.747356  0.855718  0.963280  0.336691  7777.0
1  0.606125  0.720660  0.662174  0.483675  0.043352     NaN

In [60]:
#To delete the last column
newdf.drop(0, axis = 1)

           A         B         C         D         E
0       7777  0.747356  0.855718  0.963280  0.336691
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4     0.4137  0.490691  0.042073  0.257392  0.046058
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[100 rows x 5 columns]

In [61]:
newdf.head(2)

          A         B         C         D         E       0
0      7777  0.747356  0.855718  0.963280  0.336691  7777.0
1  0.606125  0.720660  0.662174  0.483675  0.043352     NaN

In [62]:
newdf = newdf.drop(0, axis = 1) # to change the newdf

In [63]:
newdf.head(2)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352

In [64]:
newdf.loc[[1, 2], ['C', 'D']] # this will only return the specific data frame, it will not change the original newdf

          C         D
1  0.662174  0.483675
2  0.689736  0.267453

In [65]:
#for every column for LOC
newdf.loc[[1, 2], :]

          A         B         C         D         E
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426

In [66]:
#for every row for LOC
newdf.loc[:, ['C', 'D']]

           C         D
0   0.855718  0.963280
1   0.662174  0.483675
2   0.689736  0.267453
3   0.462902  0.471882
4   0.042073  0.257392
..       ...       ...
95  0.573255  0.953342
96  0.799642  0.175190
97  0.264190  0.481360
98  0.623485  0.924834
99  0.073257  0.541770

[100 rows x 2 columns]

In [67]:
newdf.loc[:, :] # foe every column and row

           A         B         C         D         E
0       7777  0.747356  0.855718  0.963280  0.336691
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4     0.4137  0.490691  0.042073  0.257392  0.046058
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[100 rows x 5 columns]

**For more complexity**

In [68]:
newdf.loc[(newdf['A'] < 0.3)] #we can apply the criteria

           A         B         C         D         E
2   0.083405  0.522888  0.689736  0.267453  0.085426
5   0.149298  0.240630  0.278223  0.290727  0.478444
6   0.008181  0.689518  0.657257  0.038366  0.581937
9   0.256183  0.115251  0.299969  0.867493  0.683510
10  0.212154  0.557435  0.582781  0.465910  0.530010
16  0.005249  0.539645  0.832994  0.614824  0.670330
20  0.298602  0.429710  0.349672  0.503712  0.897686
22  0.168366  0.088141  0.981910  0.396036  0.519842
23   0.11106  0.939816  0.998824  0.557330  0.173523
25  0.152675  0.556562  0.883968  0.468234  0.484430
27  0.082417  0.838848  0.096025  0.000358  0.854634
29  0.222758  0.123593  0.767112  0.993831  0.432917
34  0.006299  0.664723  0.590775  0.794768  0.975397
42  0.150754  0.947704  0.086962  0.019469  0.876185
46  0.116983  0.373196  0.052065  0.591967  0.161182
49  0.069323  0.693107  0.535338  0.142679  0.139143
50   0.18363  0.128960  0.147496  0.621519  0.951951
52  0.049352  0.135968  0.364521  0.225036  0.229966
55  0.066075  0.679317  0.952385  0.282056  0.205814
58  0.110203  0.041278  0.436026  0.929821  0.129564
59  0.259516  0.021555  0.118586  0.004987  0.941932
62  0.009491  0.635216  0.830091  0.996216  0.823753
65   0.20324  0.329456  0.606926  0.234955  0.494253
72  0.142424  0.037299  0.814889  0.627102  0.486018
74  0.022374  0.914341  0.803279  0.855764  0.648694
76  0.235146  0.072119  0.035487  0.425581  0.781033
80   0.16208  0.963342  0.038605  0.174746  0.109603
81  0.141805  0.033232  0.473745  0.125348  0.729540
82  0.185379  0.094834  0.489799  0.723337  0.945666
87  0.042245  0.233871  0.379013  0.616393  0.338596
93   0.01804  0.311298  0.691039  0.059395  0.807760
97  0.050775  0.584925  0.264190  0.481360  0.762086

In [69]:
newdf.loc[(newdf['A'] < 0.3) & (newdf['C'] > 0.1)] #we can apply the criteria

           A         B         C         D         E
2   0.083405  0.522888  0.689736  0.267453  0.085426
5   0.149298  0.240630  0.278223  0.290727  0.478444
6   0.008181  0.689518  0.657257  0.038366  0.581937
9   0.256183  0.115251  0.299969  0.867493  0.683510
10  0.212154  0.557435  0.582781  0.465910  0.530010
16  0.005249  0.539645  0.832994  0.614824  0.670330
20  0.298602  0.429710  0.349672  0.503712  0.897686
22  0.168366  0.088141  0.981910  0.396036  0.519842
23   0.11106  0.939816  0.998824  0.557330  0.173523
25  0.152675  0.556562  0.883968  0.468234  0.484430
29  0.222758  0.123593  0.767112  0.993831  0.432917
34  0.006299  0.664723  0.590775  0.794768  0.975397
49  0.069323  0.693107  0.535338  0.142679  0.139143
50   0.18363  0.128960  0.147496  0.621519  0.951951
52  0.049352  0.135968  0.364521  0.225036  0.229966
55  0.066075  0.679317  0.952385  0.282056  0.205814
58  0.110203  0.041278  0.436026  0.929821  0.129564
59  0.259516  0.021555  0.118586  0.004987  0.941932
62  0.009491  0.635216  0.830091  0.996216  0.823753
65   0.20324  0.329456  0.606926  0.234955  0.494253
72  0.142424  0.037299  0.814889  0.627102  0.486018
74  0.022374  0.914341  0.803279  0.855764  0.648694
81  0.141805  0.033232  0.473745  0.125348  0.729540
82  0.185379  0.094834  0.489799  0.723337  0.945666
87  0.042245  0.233871  0.379013  0.616393  0.338596
93   0.01804  0.311298  0.691039  0.059395  0.807760
97  0.050775  0.584925  0.264190  0.481360  0.762086

In [70]:
#Whatever the value provided in row and column, to access the block can use iloc 
# So, we can access the block with index
newdf.head(2)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352

In [71]:
newdf.iloc[0, 4] # even if, there is ABCDE , iloc will access it

0.3366907003573353

In [72]:
newdf.iloc[[0, 5], [1, 2]]

          B         C
0  0.747356  0.855718
5  0.240630  0.278223

In [73]:
newdf.head(3)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426

In [74]:
newdf.drop([0]) # bydefault it is axis = 0, will delete row 0

           A         B         C         D         E
1   0.606125  0.720660  0.662174  0.483675  0.043352
2   0.083405  0.522888  0.689736  0.267453  0.085426
3   0.957715  0.586516  0.462902  0.471882  0.310775
4     0.4137  0.490691  0.042073  0.257392  0.046058
5   0.149298  0.240630  0.278223  0.290727  0.478444
..       ...       ...       ...       ...       ...
95  0.584537  0.710440  0.573255  0.953342  0.186127
96  0.543378  0.666624  0.799642  0.175190  0.452839
97  0.050775  0.584925  0.264190  0.481360  0.762086
98  0.977681  0.965259  0.623485  0.924834  0.261190
99  0.762674  0.429036  0.073257  0.541770  0.686147

[99 rows x 5 columns]

**whatever perations are doing with newdf will not affect or change newdf, until I assign it with newdf = .....   Otherwise it will return only just a copy**

In [75]:
newdf.head(3)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
1  0.606125  0.720660  0.662174  0.483675  0.043352
2  0.083405  0.522888  0.689736  0.267453  0.085426

In [76]:
# Changes can be done to original newdf by inplace = True
newdf.drop([1, 5], axis = 0, inplace = True)

In [77]:
newdf.head(3) # row 1 and 5 is deleted

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775

In [78]:
newdf.head(5)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
2  0.083405  0.522888  0.689736  0.267453  0.085426
3  0.957715  0.586516  0.462902  0.471882  0.310775
4    0.4137  0.490691  0.042073  0.257392  0.046058
6  0.008181  0.689518  0.657257  0.038366  0.581937

In [79]:
newdf.reset_index(drop = True, inplace = True) # Will reset the index from zero

In [80]:
newdf.head(3)

          A         B         C         D         E
0      7777  0.747356  0.855718  0.963280  0.336691
1  0.083405  0.522888  0.689736  0.267453  0.085426
2  0.957715  0.586516  0.462902  0.471882  0.310775

In [81]:
newdf['B'].isnull() # To find where is null in column 'B'

0     False
1     False
2     False
3     False
4     False
      ...
93    False
94    False
95    False
96    False
97    False
Name: B, Length: 98, dtype: bool

In [82]:
newdf['B'] = None # will make all column None

In [83]:
newdf.head(3)

          A     B         C         D         E
0      7777  None  0.855718  0.963280  0.336691
1  0.083405  None  0.689736  0.267453  0.085426
2  0.957715  None  0.462902  0.471882  0.310775

In [84]:
newdf.loc[:, ['B']] = 55 # It will make for ever row and column of B value = 55

In [85]:
newdf.head()

          A   B         C         D         E
0      7777  55  0.855718  0.963280  0.336691
1  0.083405  55  0.689736  0.267453  0.085426
2  0.957715  55  0.462902  0.471882  0.310775
3    0.4137  55  0.042073  0.257392  0.046058
4  0.008181  55  0.657257  0.038366  0.581937

#Removing duplicates

In [86]:
newdf.drop_duplicates(subset= ['A']) # Will remove the duplicates present in the column A

           A   B         C         D         E
0       7777  55  0.855718  0.963280  0.336691
1   0.083405  55  0.689736  0.267453  0.085426
2   0.957715  55  0.462902  0.471882  0.310775
3     0.4137  55  0.042073  0.257392  0.046058
4   0.008181  55  0.657257  0.038366  0.581937
..       ...  ..       ...       ...       ...
93  0.584537  55  0.573255  0.953342  0.186127
94  0.543378  55  0.799642  0.175190  0.452839
95  0.050775  55  0.264190  0.481360  0.762086
96  0.977681  55  0.623485  0.924834  0.261190
97  0.762674  55  0.073257  0.541770  0.686147

[98 rows x 5 columns]

In [87]:
 newdf.shape

(98, 5)

In [88]:
newdf.info() # provides all information about newdf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       98 non-null     object
 1   B       98 non-null     int64
 2   C       98 non-null     float64
 3   D       98 non-null     float64
 4   E       98 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 4.0+ KB

In [89]:
 newdf.notnull()

       A     B     C     D     E
0   True  True  True  True  True
1   True  True  True  True  True
2   True  True  True  True  True
3   True  True  True  True  True
4   True  True  True  True  True
..   ...   ...   ...   ...   ...
93  True  True  True  True  True
94  True  True  True  True  True
95  True  True  True  True  True
96  True  True  True  True  True
97  True  True  True  True  True

[98 rows x 5 columns]

In [90]:
newdf.isnull()

        A      B      C      D      E
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
..    ...    ...    ...    ...    ...
93  False  False  False  False  False
94  False  False  False  False  False
95  False  False  False  False  False
96  False  False  False  False  False
97  False  False  False  False  False

[98 rows x 5 columns]

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

For all pandas documentory